<div class="container">
  <div class="row">
    <% %w(paris berlin lisbon rio).each do |city| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        ...
      </div>
    </div>
  </div>
</div>



<!-- <div class="container text-center">
  <ul>
    <% %w(paris berlin lisbon rio).each do |city| %>
    <li>
    <img src="https://kitt.lewagon.com/placeholder/cities/<%= city %>" height="200">
    <h4> <% city.capitlize %></h4>
    </li>
    <% end %>
  </ul>
</div>
 -->
